<div class="page-container">
  <!-- Верхняя панель (Header) -->
  <header class="header">
    <div class="logo">SURF.RU</div>
    <a routerLink="/register" class="header-link">Регистрация</a>
  </header>

  <!-- Основной контент -->
  <main class="main-content">
    <div class="login-card">
      <!-- Заголовок карточки -->
      <div class="card-header">
        Вход в систему
      </div>
      
      <!-- Форма авторизации -->
      <div class="card-body">
        <form class="login-form">
          <div class="form-group">
            <label for="username">Псевдоним</label>
            <input 
              type="text" 
              id="username" 
              name="username" 
              class="form-input"
              [(ngModel)]="nickname"
            >
          </div>
          @if (!isNicknameValid) {
                  <p>Длина псевдонима должна быть от 3 до 20 символов</p>
                }

          <div class="form-group">
            <label for="password">Пароль</label>
            <input 
              type="password" 
              id="password" 
              name="password" 
              class="form-input"
              [(ngModel)]="password"
            >
          </div>
            @if (!isValidLength) {
              <p>Длина пароля должна быть от 6 до 20 символов</p>
              }
            @if (!isValidSymbols) {
              <p>Пароль может включать в себя латиницу, цифры и подчеркивания</p>
              }

          <button type="submit" class="btn btn-submit">Войти</button>
        </form>
      </div>
    </div>

    <!-- Блок регистрации под формой -->
    <div class="footer-prompt">
      <span>Нет аккаунта?</span>
      <button routerLink="/register" class="btn btn-secondary">Зарегистрироваться</button>
    </div>
  </main>
</div>